<div class="wrapper">
  <header>
    <mat-form-field>
      <mat-label>Search Users by id</mat-label>
      <input matInput
             type="text"
             placeholder="Ex. 1, 12, .."
             [formControl]="searchInput"
             [matAutocomplete]="auto">
      <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.reset('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete #auto>
      <mat-option *ngIf="filteredUser | async as user" [value]="user">
        <ng-container>
          {{user.data.id}} : {{ user.data.first_name }} {{user.data.last_name}}
        </ng-container>
      </mat-option>
    </mat-autocomplete>
  </header>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <ng-container *ngIf="data$ | async as d">
    <mat-nav-list>
      <mat-list-item *ngFor="let user of d.data"
                     (click)="goToUser(user)">
        <img matListAvatar [src]="user.avatar" alt="user's avatar">
        <h3 matLine>{{user.first_name + ' ' + user.last_name}}</h3>
      </mat-list-item>
    </mat-nav-list>

    <mat-paginator
      [pageIndex]="d.page -1"
      [length]="d.total"
      [pageSize]="d.per_page"
      (page)="updatePage($event)"
      hidePageSize="true">
    </mat-paginator>
  </ng-container>
</div>
