<div class="wrapper">
  <header>
    <mat-form-field>
      <mat-label>Search Users by id</mat-label>
      <input matInput type="text" placeholder="Ex. 1, 12, .." [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </header>

  <ng-container *ngIf="data$ | async as d">
    <mat-nav-list>
      <mat-list-item *ngFor="let user of d.data"
                     (click)="goToUser(user)">
        <img matListAvatar [src]="user.avatar" alt="user's avatar">
        <h3 matLine>{{user.first_name + ' ' + user.last_name}}</h3>
      </mat-list-item>
    </mat-nav-list>

    <mat-paginator
      [pageIndex]="d.page -1"
      [length]="d.total"
      [pageSize]="d.per_page"
      (page)="updatePage($event)"
      hidePageSize="true">
    </mat-paginator>
  </ng-container>
</div>
